@model IEnumerable<TournamentsWebApp.Models.TournamentEnrollment>
@using Microsoft.AspNetCore.Identity
@using TournamentsWebApp.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <h1>Incoming tournaments</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.tournament.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tournament.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tournament.localization)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tournament.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tournament.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tournament.localization)
                </td>
                <td>
                    <a asp-controller="Tournaments" asp-action="Details" asp-route-id="@item.TournamentID">Details</a>

                </td>
            </tr>
            }
        </tbody>
    </table>
}
