@model TournamentsWebApp.Models.Tournament
@using Microsoft.AspNetCore.Authorization
@using TournamentsWebApp.Models;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Details";
}

<h1> "@Model.Name" Tournament Details  </h1>

<h3> Tournament has started! </h3>

<fieldset>
    <legend style="font-family: 'Segoe UI'; color: rgb(73,171,210); font-size: large;">Tournament location:</legend>
    <iframe width="100%"
            height="400px"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBkScl8QvQwXr1qdINMPHMC1tEuMx3Va34&q=@Model.localization">
    </iframe>
    <!--
    <div id="googleMap" style="height:400px;width:100%;"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>

        function myMap() {
            var myCenter = new google.maps.LatLng(52.403440, 16.950744);
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': "@Model.localization" }, function (results, status) {
                if (status == 'OK') {
                    myCenter = results[0].geometry.locationl
                    alert('Geocode was OK' );
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });

            var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(map);
        }
    </script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkScl8QvQwXr1qdINMPHMC1tEuMx3Va34&callback=myMap"></script> -->
</fieldset>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discipline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discipline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.localization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.localization)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.currentPart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.currentPart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.maxPart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.maxPart)
        </dd>
    </dl>
</div>
<div>


    <a asp-action="Index">Back to List</a>
</div>
